Services/WCF/V1.0/WCFTester/Service References/ServiceReference1/WcfServiceLibrary1.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1.Entities" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultOfboolean" nillable="true" type="tns:ResultOfboolean" />
  <xs:complexType name="ResultOfStudent0FXsGtTa">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1.Entities" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Student" Namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary1.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:Student" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultOfStudent0FXsGtTa" nillable="true" type="tns:ResultOfStudent0FXsGtTa" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
</xs:schema>